/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .site-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .subscription-form {
    margin: 0 0;
    padding: 0 25px;
  }
  .subscription-form button {
    right: 25px;
  }
}
 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .site-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .hero-area {
    flex-direction: column;
    height: auto;
    padding-bottom: 70px;
  }
  .hero-content {
    order: 2;
  }
  .hero-content h2 {
      font-size: 24px;
  }
  .our-plants-area .section-title p br {
    display: none;
  }
  /*hero-area end*/
  .flowers-and-plant-lover-wrap {
    flex-direction: column;
  }
  .add-cart-btn {
    padding: 8px 8px;
    text-transform: capitalize;
  }

  .latest-deals-area .section-title p br {
    display: none;
  }
  .subscription-form {
    margin: 0 0;
  }
  .subscription-form button {
    width: auto;
    padding: 0 25px;
  }
  /*.subscription-area end*/

  foter a {
    font-size: 14px;
  }
  .footer-content p br {
    display: none;
  }
}
 
/* small mobile :320px. */
@media (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 1.5;
  }
  .section-title h2 {
    font-size: 24px;
  }
  .section-title br {
    display: none;
  }
  .site-container {
    width: 100%;
    padding: 0 15px;
  }
  /*base css end*/
  a.brand-logo {
    padding: 15px 0;
  }
  .header-area nav ul {
    display: none;
  }
  /*header-area end*/
  .hero-area {
    flex-direction: column;
    height: auto;
    padding-bottom: 70px;
  }
  .hero-content {
    order: 2;
  }
  .hero-content h2 {
      font-size: 24px;
  }
  .hero-image {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
  }
  .hero-image img {
    max-width: 100%;
  }
  /*hero-area end*/
  .our-plants-area {
    margin-bottom: 0;
  }
  .plants-wrap {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 30px;
  }
  h5.plant-name {
    font-size: 18px;
    margin-bottom: 3px;
  }
  .pnalnt-price {
    font-size: 18px;
    margin-bottom: 7px;
  }
  .add-cart-btn {
    padding: 7px 10px;
    text-transform: capitalize;
  }
  /*our-plants-area end*/
  .flowers-and-plant-lover-wrap {
    flex-direction: column;
    gap: 30px;
  }
  .flowers-and-plant-lover-content h2 {
    font-size: 24px;
  }
  .flowers-and-plant-lover-image > img {
    width: 100%;
  }
  .badge-image {
    display: none;
  }
  /*flowers-and-plant-lover-area end*/
  .latest-deals-area {
    padding: 50px 15px;
  }
  .latest-deals-area .section-title {
    margin-bottom: 35px;
  }
  .deals-wrap {
    flex-direction: column;
  }
  .single-deal.deal-1,
  .single-deal.deal-2,
  .single-deal.deal-3 {
    width: 100%;
    height: 205px;
  }
  .single-deal.deal-1 .deal-content h4,
  .single-deal.deal-2 .deal-content h4, 
  .single-deal.deal-3 .deal-content h4 {
    font-size: 20px;
    text-transform: capitalize;
  }
  .single-deal.deal-3 .deal-content a {
    font-size: 15px;
  }
  /*latest-deals-area end*/
  .subscription-area .section-title {
    margin-bottom: 20px;
  }
  .subscription-area .section-title h2 {
    font-size: 20px;
    text-transform: capitalize;
  }

  .subscription-form {
    margin: 0 0
  }
  .subscription-form input {
    padding: 18px 15px;
    font-size: 16px;
  }
  .subscription-form button {
    width: auto;
    padding: 0 25px;
    font-size: 18px;
}
  /*.subscription-area end*/
  footer.site-container {
    flex-direction: column;
    padding: 50px 15px;
  }
  footer div {
    width: 100% !important;
  }
  .footer-content p br {
    display: none;
  }
  .footer-link li {
    width: 100%;
    float: none;
  }

  .footer-social a {
    margin-right: 15px;
  }
  .footer-social a:last-child {
    margin-right: 0;
  }
  /*footer end*/
}