/* base css starts*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    line-height: 1.6;
    color: #7B7C80;
}
.noto-serif-heading-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.inter-body-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #8987A1;
    transition: 0.3s;
    display: inline-block;
}
a:hover, a.active {
    color: #252432;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
    text-transform: uppercase;
    font-family: "Noto Serif", serif;
    margin-bottom: 15px;
    line-height: 1.5;
}



/* repeated css starts */
.site-container {
    width: 1140px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.d-flex-jcsb {
    display: flex;
    justify-content: space-between;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}
.align-content-center {
    align-items: center;
}
.text-yellow {
    color: #E95A08;
}
.section-padding {
    padding: 100px 0;
}
.section-title {
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2 {
    font-size: 50px;
    font-weight: 900;
}
.section-title.left {
    text-align-last: left;
}
.section-title.left h2 {
    text-align-last: left;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.d-n {
    display: none;
}


/* header css starts */
.header-area {
    padding: 50px 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    padding: 12px 25px;
}



/* hero-area starts */
.hero-area {
    height: 720px;
}
.hero-content h2 {
    font-size: 65px;
}
.hero-content h2 span {
    color: #E95A08;
}
.hero-image img {
    max-width: 100%;
}



/* our-plants-area starts */
.our-plants-area {
    margin-bottom: 120px;
}
.plants-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center;
}
.single-plants {
    margin-bottom: 20px;
    flex: 25%;
}
.plants-image img {
    width: 100%;
    height: auto;
}
h5.plant-name {
    font-weight: 400;
    font-size: 22px;
    color: #111;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.pnalnt-price {
    font-weight: 700;
    font-size: 22px;
    display: block;
    margin-bottom: 10px;
    color: #000;
}
.add-cart-btn {
    display: block;
    padding: 9px 18px;
    background-color: #E95A08;
    color: #fff;
    text-transform: uppercase;
}















/*.flowers-and-plant-lover-area starts*/
.flowers-and-plant-lover-wrap {
    gap: 50px;
}
.flowers-and-plant-lover-image {
    position: relative;
}
.badge-image {
    position: absolute;
    top: -130px;
    right: -100px;
}
.badge-image img {
    width: 260px;
    height: auto;
}
.flowers-and-plant-lover-content h2 {
    font-size: 55px;
}
.flowers-and-plant-lover-content li {
    list-style: disc;
    margin-bottom: 15px;
    margin-left: 20px;
}
.flowers-and-plant-lover-content li:last-child {
    margin-bottom: 0;
}
































/*deal-area starts*/
.latest-deals-area {
    padding-bottom: 120px;
}
.deals-wrap {
    display: flex;
    gap: 20px;
}
.single-deal {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.single-deal:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
}
.single-deal.deal-1 {
    background-image: url(../img/deal-bloom.png);
    width: 380px;
    height: 205px;
    margin-bottom: 20px;
}
.single-deal.deal-2 {
    background-image: url(../img/deal-ana.png);
    width: 380px;
    height: 205px;
}
.single-deal.deal-3 {
    background-image: url(../img/deal-zabo.png);
    height: 430px;
    width: 100%;
}
.deal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    width: 100%;
}
.deal-content h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}
.deal-content a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
}
.single-deal.deal-3 .deal-content h4 {
    font-size: 30px;
}
.single-deal.deal-3 .deal-content a {
    font-size: 28px;
}













/*subscription-area strarts*/
.subscription-area {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/news-letter-bg.png);
    text-align: center;
    padding: 150px 0;
}
.subscription-area .section-title h2 {
    color: #fff;
}
.subscription-form {
    position: relative;
    width: 100%;
    margin: 0 75px;
}
.subscription-form input {
    width: 100%;
    padding: 25px 30px;
    border: 0;
    font-size: 22px;
}
.subscription-form input:focus {
    outline: 0;
}
.subscription-form button {
    background-color: #E95A08;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 185px;
    border: 0;
    font-size: 22px;
}














/*footer starts*/
footer {
    display: flex;
    gap: 30px;
    padding: 100px 0;
}
.footer-content {
    width: 35%;
}
.footer-content img {
    margin-bottom: 20px;
}
.footer-link {
    width: 40%;
}
.footer-link li {
    width: 50%;
    float: left;
    margin-bottom: 15px;
}
.footer-social {
    width: 20%;
} 
.footer-social a {
    margin-right: 15px;
}